.company {
  width: 100%;
  margin: 36px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  .company__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @include respond-to(gt-sm) {
      width: 25%;
      align-items: flex-start;
      text-align: left;
    }

    .company-title {
      width: 100%;
      font-weight: bold;
      font-size: 14pt;
      margin-bottom: 4px;
      border-bottom: 2px solid $primary;

      @include respond-to(gt-sm) {
        width: auto;
      }
    }
    
    .company-position {
      font-style: italic;
      font-size: 10pt;
      margin-bottom: 14px;
    }

    .company-duration {
      display: flex;
      align-items: center;
      font-size: 10pt;
      line-height: 1.5;
      margin-bottom: 16px;

      .icon {
        color: $secondary;
        margin-right: 4px;
        align-self: stretch;
        font-size: 12pt;
      }
    }

  }
  .company__content {
    width: 100%;

    @include respond-to(gt-xs) {
     width: 75%;
    }

    @include respond-to(gt-sm) {
      width: 50%;
     }
    
    .company-content__details {
      margin-bottom: 16px;

      .detail-bullet {
        width: 100%;
        height: auto;
        padding: 8px;
        border: 2px solid $grey-2;

        &:nth-child(2n - 1) {
          background-color: $grey-2;
        }
        &:first-child {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
        &:last-child {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
    
    .company-content__skills {
     width: 100%;

      .skills-chip {
        background-color: $secondary;
        color: $white;
        margin: 4px;
      }
    }
  }
}