.company {
  width: 100%;
  margin: 36px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  .company__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    .company-title {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      width: 100%;
      font-weight: 500;
      font-size: 14pt;
      margin-bottom: 4px;
      border-bottom: 2px solid $primary;
    }
    
    .company-position {
      font-style: italic;
      font-size: 10pt;
      margin-bottom: 14px;
    }

    .company-duration {
      display: flex;
      align-items: center;
      font-size: 10pt;
      line-height: 1.5;
      margin-bottom: 16px;

      .icon {
        color: $secondary;
        margin-right: 4px;
        align-self: stretch;
        font-size: 12pt;
      }
    }

  }
  .company__content {
    width: 100%;
    
    .company-content__details {
      margin-bottom: 16px;

      .detail-bullet {
        width: 100%;
        height: auto;
        padding: 8px;
        border: 1px solid $blue-1;

        &:nth-child(2n - 1) {
          background-color: $blue-1;
        }
        &:first-child {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
        &:last-child {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
    
    .company-content__skills {
     width: 100%;

      .skills-chip {
        background-color: $white;
        color: $secondary;
        border-color: $secondary;
        margin: 4px;
      }
    }
  }
}