.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; }
  .main .info-panels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 5px; }

.info-card {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
  .info-card .info-card__image {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    background-color: grey;
    margin-bottom: 42px; }
  .info-card .info-card__content {
    width: 100%;
    margin-left: 10%;
    margin-bottom: 50px; }
    @media only screen and (min-width: 960px) {
      .info-card .info-card__content {
        width: 50%; } }
    .info-card .info-card__content .content-header {
      font-weight: bold;
      font-size: 14pt;
      margin-bottom: 4px;
      border-bottom: 1px solid #dad8d8; }
    .info-card .info-card__content .content-field {
      font-style: italic;
      font-size: 10pt;
      margin-bottom: 8px; }
    .info-card .info-card__content .content-bio {
      margin-bottom: 16px; }
    .info-card .info-card__content .contact-info .contact-info__phone {
      margin-bottom: 8px;
      display: flex;
      align-items: center; }
      .info-card .info-card__content .contact-info .contact-info__phone .icon {
        color: #2A2E44;
        margin-right: 6px; }
    .info-card .info-card__content .contact-info .contact-info__email {
      margin-bottom: 8px;
      display: flex;
      align-items: center; }
      .info-card .info-card__content .contact-info .contact-info__email .icon {
        color: #2A2E44;
        margin-right: 6px; }
  .info-card .info-card__footer {
    position: absolute;
    bottom: 10px;
    right: 10px; }
    .info-card .info-card__footer .logo {
      margin: 8px;
      max-width: 30px;
      max-height: 30px; }

.info-panel {
  width: 100%;
  margin-bottom: 10px; }
  .info-panel .info-panel__content {
    border-bottom: 2px solid white; }
    .info-panel .info-panel__content .expand-icon {
      color: white; }
  .info-panel .info-panel__header {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #2A2E44;
    border-bottom: 1px solid #c1c1c1; }

.banner {
  background-image: url("images/banner.jpg");
  /* Set a specific height */
  height: 50vh;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.company {
  margin-bottom: 42px; }
  .company .company__content {
    max-width: 75%; }
    @media only screen and (min-width: 960px) {
      .company .company__content {
        max-width: 50%; } }
    .company .company__content .company-content__header {
      font-weight: bold;
      font-size: 14pt;
      margin-bottom: 4px;
      border-bottom: 1px solid #dad8d8; }
    .company .company__content .company-content__position {
      font-style: italic;
      font-size: 10pt;
      margin-bottom: 8px; }
    .company .company__content .company-content__details {
      margin-bottom: 12px; }
    .company .company__content .company-content__skills .skills-chip {
      margin: 4px; }

.work-history {
  padding: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box; }

body {
  background-color: #dedede;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: 'Aleo', serif;
  letter-spacing: 0.05ch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
